#env
.env
.env.*

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
pytest-of-root/
pip-build-env-*/
pip-ephem-wheel-cache-*/
pip-metadata-*/
pip-modern-metadata-*/
pip-unpack-*/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.vite
base44/.app.jsonc
